* {
  font-family: "Calibri", serif;
  }
body {
  display: block;
  background-color: #000;
  margin: 0;
  font-weight: bold;

}
.header {
  background-color: white;
  height: 60px;
  align-content: center;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  border: solid 2px black;
  font-size: 40px;
}

.nav {
  justify-content: space-between;
  width: 200px;
  display: flex;
  height: 40px;
  padding-top: 10px;
}

.box {
  display: flex;
  width: 100%;
  height: 100vh;
}

.text {
  width: 100%;
  background-color: #fff;
  align-content: center;
  border: solid 1px black;
}

.menu {
  width: 600px;
  background-color: #e7e4e4;
  padding-top: 0.1rem;
  padding-right: 5px;
  border: solid 1px black;
  margin-right: 1px;
  vertical-align: top;
  text-align: left;
    font-size: 30px;
}

.note {
  margin: 5px;
  background-color: #fff;
  height: 60px;
  vertical-align: middle;
  align-items: center;
  display: grid;
  top: 50%;
  text-align: left;
  transition: all 0.3s ease;

  &:hover {
    background-color: #7fa0f6;
    cursor: pointer;
    color: #fff;
  }
}
.noteTitle {
  margin: 20px;
  font-size: 40px;
  padding-right: 10px;
  color: #3b91ff;
  text-decoration: none;
  width: 100%;
}

.noteText {
  margin: 20px;
  padding-right: 10px;
  font-size: 1.3rem;
  font-weight: normal;
  transition: all 0.3s ease;
}

.inputTitle {
  margin: 20px;
  margin-top: 5px;
  font-size: 40px;
  padding-right: 10px;
  color: #3b91ff;
  text-decoration: none;
}

.inputText {
  margin: 20px;
  margin-top: 5px;
  padding-right: 10px;
  font-size: 1.3rem;
  font-weight: normal;
}

.info{
  color: #000000;
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0;
  padding-left: 30px
}
